# This directory is fetched during first build and is present in this directory
subprojects/freeDiameter
subprojects/libtins
subprojects/prometheus-client-c
subprojects/usrsctp
.vscode/
*.pcap
build/
!build/config
test.log
core.*
core-*
open5gs.log
install/
webui/.next
