# This directory is fetched during first build and is present in this directory
subprojects/freeDiameter
subprojects/libtins
subprojects/prometheus-client-c
subprojects/usrsctp
build/
core*
*.pcap
version/
*.docx
install*/
omm/
web.log
webui/.next
*.si4project
lib/sbi/openapi/.openapi-generator/FILES
lib/sbi/openapi/CMakeLists.txt
lib/sbi/openapi/Packing.cmake
lib/sbi/openapi/README.md
lib/sbi/openapi/api/
lib/sbi/openapi/docs/
lib/sbi/openapi/include/apiClient.h
lib/sbi/openapi/libcurl.licence
lib/sbi/openapi/src/apiClient.c
lib/sbi/openapi/uncrustify-rules.cfg
lib/sbi/openapi/unit-test/
